.slider{
  margin: auto;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
  margin: 50px 0px 50px 0px;
}

.slider-track{
  display: flex;
  width: calc(250px*18);
  animation: scroll 30s linear infinite ;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 4));
  }
}

.slide{
  display: flex;
  align-items: center;
  margin: 8px;
  perspective: 100px;
}

.imag-slide{
  border-radius: 8px;
  transition: transform 0.5s;
}

.imag-slide:hover{
  transform:scale(1.05);
}

.slider::after,
.slider::before{
  background: linear-gradient(to right, rgba(255,255,255,1)0%,rgba(255,255,255,1)100%);
  content: "";
  height: 100%;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
}

.slider::after{
  transform: rotate(180deg);
}
